extends html

block main

  .main-contents    
    include includes/breadcrumbs
    br
    .bottom-tips
      .pure-g
        .pure-u-1-1.cols
          .pure-u-2.pure-u-md-2-3
            .tips
              != contents

          .pure-u-1.pure-u-md-1-3
            .resources
              != sidebar

  include includes/links
